
.maintitle {

    font-weight: 100px;
    font-style: normal;
    background-color: white;
    color: black; 
    font-size:40px;
}

#main-title {
    font-size:50px;

}


.main-paragraph {
    color: black;
}






